before_script:
  - "bundle exec rake test_app"
env:
  - DB=sqlite
script:
  - "bundle exec rspec spec"

notifications:
  email:
    - ryan@spreecommerce.com
  irc:
    use_notice: true
    skip_join: true
    channels:
      - "irc.freenode.org#spree"
branches:
  only:
    - 1-0-stable
    - 1-1-stable
    - 1-2-stable
    - master
rvm:
  - 1.8.7
  - 1.9.3
