<div id='errorBox' class='errorExplanation alert alert-danger' style='display:none'></div>

<% if @client_secret.present? && @pk_key.present? %>
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <script>
    var form = document.getElementById('checkout_form_payment_confirm');

    function confirmCardPaymentResponseHandler(response) {
      $.post("/api/v1/stripe/intents/handle_response", { response: response, order_token: "<%= @order.token %>" }).done(function (result) {
        form.submit();
      }).fail(function(result) {
        $('#errorBox').html(result.responseJSON.errors)
        $('#errorBox').show()
      });
    }

    var stripeElements = Stripe("<%= @pk_key %>");
    stripeElements.confirmCardPayment("<%= @client_secret %>").then(function(result) {
      confirmCardPaymentResponseHandler(result)
    });
  </script>
<% end %>
