<div id='errorBox' class='errorExplanation alert alert-danger' style='display:none'></div>
<% @order.process_payments! %>
<% intent_secrets = @order.payments.valid.map do |payment|
  next unless payment.intent_client_key
  {
    intent_key: payment.intent_client_key,
    pk_key: payment.payment_method.preferred_publishable_key
  }
end.last %>

<% if intent_secrets %>
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <script>
    var form = document.getElementById('checkout_form_payment_confirm');

    function confirmCardPaymentResponseHandler(response) {
      $.post("/stripe/intents/handle", { response: response, token: "<%= @order.token %>", authenticity_token: "<%= form_authenticity_token %>" }).done(function (result) {
        form.submit();
      }).fail(function(result) {
        $('#errorBox').html(result.responseJSON.errors)
        $('#errorBox').show()
      });
    };

    var stripeElements = Stripe("<%= intent_secrets[:pk_key] %>");
    stripeElements.confirmCardPayment("<%=intent_secrets[:intent_key]%>").then(function(result) {
      confirmCardPaymentResponseHandler(result)
    });
  </script>
<% end %>
